* {
    font-family: 'Sarabun', sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    background: url('../img/bg.jpg');
    background-size: cover;
    background-position: center middle;
    padding: 0;
    margin: 0;
}
#solar-system {
    width: 100vw;
    height: 100vh;
    position: fixed;
}
