* {
    font-family: 'Sarabun', sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    background: url('../img/bg.jpg');
    background-size: cover;
    padding: 0;
    margin: 0;
}
#loadpage {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-image: url('../img/loading.jpg');
    background-position: center;
    background-size: cover;
    transition: opacity 1s ease, z-index 1s ease;
}
#loadpage h1 {
    text-align: center;
    font-size: 5vmin;
    width: 100vw;
    height: 15vmin;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50vw;
    margin-top: -7.5vmin;
    color: #fff;
}
#solar-system {
    width: 100vw;
    height: 100vh;
    position: fixed;
    opacity: 0;
    transition: opacity 1s ease;
}

#control-panel {
    box-sizing: border-box;
    padding-top: 15px;
    background-color: rgba(0,0,0,0.4);
    border-top: 3px solid #bbf;
    box-shadow: #bbf 0 0 5px;
    position: fixed;
    top: 100%;
    left: 50%;
    text-align: center;
    color: #fff;
    width: 70vw;
    height: 7.5vh;
    margin-top: -7.5vh;
    margin-left: -35vw;
    border-radius: 15px 15px 0 0;
}

#speed {
    width: 9vw;
    text-align: center;
}

@media screen and (max-width: 600px) {
    #control-panel {
        width: 95vw;
        height: 7.5vh;
        margin-left: -47.5vw;
        margin-top: -7.5vh;
    }
  }