* {
    font-family: 'Sarabun', sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    background: url('../img/bg.jpg'), black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center middle;
    padding: 0;
    margin: 0;
}
#loadpage {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-image: url('../img/loading.jpg');
    background-position: center;
    background-size: cover;
    transition: opacity 2s ease, z-index 5s ease;
}
#loadpage h1 {
    text-align: center;
    font-size: 5vmin;
    width: 100vw;
    height: 15vmin;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50vw;
    margin-top: -7.5vmin;
    color: #fff;
}
#solar-system {
    width: 100vw;
    height: 100vh;
    position: fixed;
    opacity: 0;
    transition: opacity 2s ease;
}

#control-panel {
    background-color: #fff;
    position: fixed;
    top: 100%;
    left: 50%;
    width: 15vmin;
    height: 7.5vmin;
    margin-top: -9vmin;
    margin-left: -7.5vmin;
    text-align: center;
}
#speed {
    width: 10%;
}