@keyframes orbit {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.orbit {
    /*
    width: 400px;
    height: 400px;
    */
    box-sizing: border-box;
    /* padding-left: 200px; */
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    overflow: visible;
    position: absolute;
    top: 50%;
    left: 50%;
    /*
    margin-left: -200px;
    margin-top: -200px;
    */

    /* animation: orbit 10s linear infinite; */
    animation-name: orbit;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: paused;
    animation-fill-mode: both;
}

@keyframes tilt {
    from {
        background-position-x: 0%;
    }
    to {
        background-position-x: 200%;
    }
}
@keyframes fixOrbitTilt {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

.circularRotator {
    animation-name: fixOrbitTilt;
    animation-play-state: paused;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: both;
    box-sizing: border-box;
    padding-left: 0.5vmin;
    padding-top: 0.5vmin;
}

.planet {
    border-radius: 50%;
    /* animation: tilt 10s linear infinite; */
    background-size: cover;
    background-position-x: 0px;
    background-size: cover;
    z-index: 1;
}
.orbit#sun {
    width: 0vmin;
    height: 0vmin;
    padding-left: 0vmin;
    margin-left: -0vmin;
    margin-top: -0vmin;
}
.planet#sun {
    background-image: url('../img/planet/sun.jpg');
    background-size: cover;
    background-position-x: center;
    border-radius: 50%;
    position: absolute;
    margin-left: -2.5vmin;
    margin-top: -2.5vmin;
    top: 50%;
    left: 50%;
    width: 5vmin;
    height: 5vmin;
    box-shadow: #fea824 0px 0px 2.5vmin;
    /* animation: tilt 25.38787023s linear infinite; */
    transform: rotate(7.25deg);
}
.planet#mercury {
    background-image: url('../img/planet/mercury.jpg');
}
.planet#venus {
    background-image: url('../img/planet/venus.jpg');
    transform: rotate(177.3deg);
}
.planet#venus .tooltip {
    transform: rotate(-177.3deg);
}
.planet#earth {
    background-image: url('../img/planet/earth.jpg');
    transform: rotate(23.4393deg);
}
.planet#earth .tooltip {
    transform: rotate(-23.4393deg);
}
.planet#mars {
    background-image: url('../img/planet/mars.jpg');
    transform: rotate(25.2deg);
}
.planet#mars .tooltip {
    transform: rotate(-25.2deg);
}
.planet#jupiter {
    background-image: url('../img/planet/jupiter.jpg');
    transform: rotate(3.1deg);
}
.planet#jupiter .tooltip {
    transform: rotate(3.1deg);
}
.planet#saturn {
    background-image: url('../img/planet/saturn.jpg');
    transform: rotate(26.7deg);
}
.planet#saturn .tooltip {
    transform: rotate(-26.7deg);
}
.planet#uranus {
    background-image: url('../img/planet/uranus.jpg');
    transform: rotate(97.8deg);
}
.planet#uranus .tooltip {
    transform: rotate(-97.8deg);
}
.planet#neptune {
    background-image: url('../img/planet/neptune.jpg');
    transform: rotate(28.3deg);
}
.planet#neptune .tooltip {
    transform: rotate(-28.3deg);
}