@keyframes orbit {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.orbit {
    /*
    width: 400px;
    height: 400px;
    */
    box-sizing: border-box;
    /* padding-left: 200px; */
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.4);
    overflow: visible;
    position: absolute;
    top: 50%;
    left: 50%;
    /*
    margin-left: -200px;
    margin-top: -200px;
    */

    animation: orbit 10s linear infinite;
}

@keyframes tilt {
    from {
        background-position-x: 0%;
    }
    to {
        background-position-x: 200%;
    }
}
@keyframes fixOrbitTilt {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}


.planet {
    border-radius: 50%;
    animation: tilt 10s linear infinite;
    background-size: cover;
    background-position-x: 0px;
    background-size: cover;
    z-index: 1;
}
#sun {
    background: url('../img/planet/sun.jpg');
    background-size: cover;
    background-position-x: center;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -2.5vmin;
    margin-top: -2.5vmin;
    width: 5vmin;
    height: 5vmin;
    box-shadow: #fea824 0px 0px 2.5vmin;
    animation: tilt 25.38787023s linear infinite;
    transform: rotate(7.25deg);
}
#mercury {
    background: url('../img/planet/mercury.jpg');
    background-size: cover;
    background-position-x: 0px;
}
#venus {
    background: url('../img/planet/venus.jpg');
    background-size: cover;
    background-position-x: 0px;
}
#earth {
    background: url('../img/planet/earth.jpg');
    background-size: cover;
    background-position-x: 0px;
}
#mars {
    background: url('../img/planet/mars.jpg');
    background-size: cover;
    background-position-x: 0px;
}
#jupiter {
    background: url('../img/planet/jupiter.jpg');
    background-size: cover;
    background-position-x: 0px;
}
#saturn {
    background: url('../img/planet/saturn.jpg');
    background-size: cover;
    background-position-x: 0px;
}
#uranus {
    background: url('../img/planet/uranus.jpg');
    background-size: cover;
    background-position-x: 0px;
}
.orbit#neptune {
    width: 80vmin;
    height: 80vmin;
    padding-left: 40vmin;
    margin-left: -40vmin;
    margin-top: -40vmin;
}
.planet#neptune {
    background: url('../img/planet/neptune.jpg');
    width: 1.25vmin;
    height: 1.25vmin;
    margin-left: -0.625vmin;
    margin-top: -0.625vmin;
}